img {
    max-width: 300px;
}

.favorite-hoomen {
    cursor: pointer;
    padding: 10px;
}

.favorite-hoomen:hover {
    color: #4b6055;
    background-color:rgba(75, 96, 85, 0.25);
}

.bears-list{
    cursor: pointer;
    padding: 10px;
}

.bears-list:hover{
    color: #4b6055;
    background-color:rgba(75, 96, 85, 0.25);
}

#login {
    grid-area: login;
    color: #ffffff;
    background-color: #10313b;
    padding: 10px;
}

#bears {
    grid-area: bears;
    background-color: #e4e4e6;
}

#bear-container {
    grid-area: bear;
    height: 500px;
    border-right: solid #e4e4e6 2px;
    border-bottom: solid #e4e4e6 2px;
    padding:10px;
}

#timer-div {
    grid-area: timer;
    height: 180px;
    border-right: solid #e4e4e6 2px;
    border-bottom: solid #e4e4e6 2px;
    padding: 10px;
}

#bear-activity-container {
    grid-area: activity;
    height: 300px;
    border-right: solid #e4e4e6 2px;
    padding: 10px;
}

body {
    display: grid;
    grid-template-areas:
        "login"
        "bears"
        "bear"
        "activity"
        "timer";
    font-family: Gill Sans Extrabold, sans-serif;
}

@media (min-width: 700px) {
    body {
        grid-template-columns: 1fr 2.5fr 2.5fr;
        grid-template-areas: 
        "login  login   login"
        "bears  bear    activity"
        "bears  bear   timer"
    }
}